@model Piranha.Extend.Blocks.PageBlock

@if (Model.Body.Page != null)
{
            <div class="card cursor" onclick="window.location='@WebApp.AbsoluteUrl(Model)'">
                @if (Model.Body.Page.PrimaryImage.HasValue)
                {
                    <img class="card-img-top" style="object-fit:contain" src="@Url.Content(Model.Body.Page.PrimaryImage)">

                }
                <div class="card-body" onclick="window.location=@WebApp.Url(Model)">
                    <h5>@Model.Body.Page.Title</h5>
                    <p>@Html.Raw(Model.Body.Page.Excerpt)</p>
                </div>
            </div>
}

        